[global]
repo1-type=s3
repo1-s3-endpoint=${RUSTFS_SECONDARY_HOST}
repo1-s3-bucket=${PGBACKREST_REPOSITORY_BUCKET}
repo1-s3-key=${RUSTFS_SECONDARY_ACCESS_KEY}
repo1-s3-key-secret=${RUSTFS_SECONDARY_SECRET_KEY}
repo1-s3-region=${RUSTFS_SECONDARY_REGION}
repo1-s3-uri-style=path
repo1-path=/${PGBACKREST_REPOSITORY_PREFIX}
repo1-storage-port=${RUSTFS_SECONDARY_PORT}
repo1-storage-verify-tls=${RUSTFS_SECONDARY_VERIFY_TLS}
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass=${PGBACKREST_REPOSITORY_CIPHER_PASS}
repo1-retention-full=5
repo1-retention-diff=14
archive-async=y
spool-path=/var/spool/pgbackrest
start-fast=y
process-max=2
log-level-console=info
log-level-file=off

[cashmemo]
pg1-path=/var/lib/postgresql/18/docker
pg1-port=5432
pg1-socket-path=/var/run/postgresql
